.card{
  position: fixed;
  bottom: 0;
  left: calc(50% - 77px);
  z-index:460;
  background:#fafafa;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px -2px 10px -2px rgb(0 0 0 / 50%);
  padding:10px;
}

.button{
  text-decoration: none;
  color:#1d1d1d;
  font-weight: bold;
}
