.appBar {
  height: 50px;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 0px 4px 2px grey;
  background: white;
  display: flex;
  align-items: center;
}

.innerAppBar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.logo {
  height: 30px;
  width: 75px;
}

.leftSide {
  flex: 1;
}

.rightSide {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background: #007aff;
  width: 120px;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;

  /*text*/
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background: #0066d3;
}

.iconButton {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding:0;
}

.overlay{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9002;
}

.userMenu {
  position: absolute;
  z-index: 9999;
  top: 45px;
  right: 20px;
  background: #FAFAFA;
}

.logoutButton {
  width: 85px;
  height: 35px;
  background: #FAFAFA;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  border: 1px solid #FAFAFA;
  z-index: 9994;
  border-radius: 5px;

  font-size: 14px;
  line-height: 20px;
  color: #FF3B30;
}

.logoutButton:hover{
  background: rgba(240, 240, 240, 0.8);
}
