.content{
    min-height:100vh;
    max-height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    height:90px;
    width:180px;
}

.form{
    padding-top: 60px;
    padding-bottom: 60px;
    display:flex;
    flex-direction: column;
}

.label{
    font-size: 22px;
    line-height: 26px;
    color: #1A1A1A;

    padding-bottom: 0.5rem;
}

.input{
    height:44px;
    width: 440px;
    font-size: 22px;
    line-height: 26px;

    margin-bottom: 20px;
    border:2px solid #979797;
    border-radius:5px;
}

.button{
    width:220px;
    height:60px;
    font-size:28px;
    margin-top:20px;
    align-self: center;
    background: #4A90E2;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border:none;
    outline: 0;
    border-radius:5px;
}

.button:hover{
    cursor: pointer;
    background: #3570b4;
}


@media only screen and (max-width: 600px) {
    .input{
        width: 320px;
    }
  }
