* {
  font-family: "Roboto";
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 20%;
  min-width: 250px;
  height: 400px;
  bottom: 20px;
  left: 20px;
  z-index: 500;
  background: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.body {
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 10px;
}

.left,
.content,
.info {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 15px;
  padding-bottom: 25px;
  flex: 1;
  justify-content: space-evenly;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #1a1a1a;
}

.subtitle {
  font-size: 18px;
  line-height: 23px;

  color: #787878;
}

.infoTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #787878;
}

.button {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 0px 0px 5px 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.addButton {
  background: #e8b100;
}

.removeButton {
  background: #ff3b30;
}

.addButton:hover {
  background: rgb(204, 156, 0)
}

.removeButton:hover {
  background: rgb(206, 46, 37)
}

@media screen and (max-width: 600px) {
  .card {
    bottom: 50px;
  }
}
