.holder{
  position: absolute;
  top:85px;
  right:20px;
  z-index: 500;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 37px;
  background:white;
  border:0px;
  border-radius:5px;
  outline:0;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));

  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #1A1A1A;
  cursor: pointer;
}

button:hover{
  background: rgba(238, 238, 238, 0.9);
}

button:active{
  background:#fafafa;
}

.card{
  width: 200px;
  height:265px;
  background:white;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  border-radius:5px;
}


.top{
  text-align: right;
  flex-direction: column;
  padding:15px;
  padding-top: 10px;
  padding-bottom: 0px;
}


.content{
  display:flex;
  flex-direction: column;
  padding: 15px;
  padding-top: 0px;
}

.label{
  color: rgba(0, 0, 0, 0.7);
}

.input{
  border: 0;
  border-bottom: 2px solid #C7C7CC;
  outline: none;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top:5px;
}


.input:focus{
  border-bottom: 2px solid #007AFF;
}

.buttonGroup{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.applyButton{
  align-self: center;
  margin-bottom: 10px;
}

.resetButton{
  height:34px;
}