.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(250, 250, 250, 0.6);
}

.card {
  background: #fafafa;
  width: 300px;
  height: 550px;
  z-index: 700;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.22), 0px 24px 24px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top {
  margin-bottom: 15px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mapContainer {
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.15px;

  color: #000000;
  padding-bottom: 5px;
}

.input {
  outline:0;
  border: 0;
  border-bottom: 2px solid #c7c7cc;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}

.input:hover{
  border-bottom: 2px solid #000000;
}
.input:focus {
  border-bottom: 2px solid #007aff;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.button {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
}
