.container {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 3em 4em 6em 4em;
  color: #222;
}
.header {
  margin-bottom: 1em;
  text-align: left;
}

.header > * {
  display: block;
}
.headerTitle {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #1A1A1A;
}
.searchBar {
  margin-bottom: 1em;
  font-size: 1em;
}

/* table */
table {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  color: #333;
}
table thead {
  border-bottom: 3px solid #ddd;
}
table tr {
  color: #222;
}
table tr.highlight {
  background-color: #dcf1f0 !important;
}
zebra tr:nth-child(even) {
  background-color: #f6f6f6;
}
table th {
  font-weight: bold;
  padding: 0.35em;
  font-size: 0.9em;
}
table td {
  padding: 0.35em;
  font-size: 0.9em;
}
table .highlight td {
  font-weight: bold;
}
table th.number,
td.number {
  text-align: right;
}

.columnTitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  background: #D8D8D8;
  color: #1A1A1A;
}

.columnName{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.sortButton{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.searchBar{
  width:250px;
  padding:10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  background: #E4E7E9;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.08);
}

.searchInput{
  font-size: 18px;
  width: 215px;
  border:none;
  outline:none;
  background: #E4E7E9;
}

/* media queries */
@media screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 0.5em; 
  }
  table {
    width: 100%;
  }
  table tr.hide-mobile,
  table th.hide-mobile,
  table td.hide-mobile {
    display: none;
  }
  table thead {
    display: none;
  }
  table tbody {
    width: 100%;
  }
  table tr,
  table th,
  table td {
    display: block;
    padding: 0;
  }
  table tr {
    border-bottom: none;
    margin: 0 0 1em 0;
    padding: 0.5em;
  }
  table tr.highlight {
    background-color: inherit !important;
  }
  zebra tr:nth-child(even) {
    background-color: transparent;
  }
  zebra td:nth-child(even) {
    background-color: #f6f6f6;
  }
  table tr:nth-child(even) {
    background-color: transparent;
  }
  table td {
    padding: 0.5em 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: right;
  }
  table td[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    content: attr(data-title);
    float: left;
    margin-right: 0.5em;
    font-size: 0.95em;
  }
  table td:last-child {
    padding-right: 0;
    
  }
  table td:empty {
    display: none;
  }
  table .highlight td {
    background-color: inherit;
    font-weight: normal;
  }
}
