body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container{
  width:100%;
  /*height:calc(100vh - 52px);*/
  height:100%;
  margin-top:2px;
}

.leaflet-top, .leaflet-bottom {
  z-index: 450;
}

/* #019AE8
*/

.MuiPickersToolbar-toolbar{
  background:#019AE8 !important;
}

.MuiPickersDay-daySelected{
  background:#019AE8 !important;
}

.MuiButton-textPrimary{
  color:#019AE8 !important;
}

.MuiInputBase-input:focus{
  outline:0;
}

.MuiInput-underline:after{
  border-bottom: 1px solid #019AE8 !important;;
}